*{
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  /* parámetros iniciales*/
}
/*  CLASS DISPLAY Y NODISPLAY PARA OCULTAR/MOSTRAR SECCIONES*/
.display{
  display: block;
}
.nodisplay{
  display: none;
}
/*  ESTILO BASE DE LOS CONTENEDORES DEL JUEGO Y DEL CANVAS*/
#contenedor{
  padding: 0px;
  margin: auto;
  width: 700px;
  height: 700px;
  background-color: #d9f2e6;
  border: 6px solid #26734d;
}
canvas{
  width: 700px;
  height: 700px;
  background: url('../img/grass.png');
}
#c_botones {
  height: 50px;
  width: 700px;
  margin: auto;
  margin-top: 30px;
  padding: 0px;
  background: none;
  border: none;
}
#c_puntuacion {
  background-color: #d9f2e6;
  margin: auto;
  height: 50px;
  width: 700px;
  margin-top: 10px;
  border: 6px solid #26734d;
  border-bottom: 0px;
  color: #26734d;
  font-size: 20px;
  padding-top:10px;
  padding-bottom: none;
}
/*  ESTILO BASE DE LOS MENÚS DE SELECCIÓN DE PERSONAJE*/

#elegir_nivel {
  margin: auto;
  height: 500px;
  width: 700px;
  border: 6px solid #26734d;
  color: #26734d;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  background: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding: 50px 0px;
}
#elegir_personaje {
  margin: auto;
  height: 500px;
  width: 700px;
  border: 6px solid #26734d;
  color: #26734d;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  background: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding: 50px 0px;
}
#inicio {
  margin: auto;
  height: 500px;
  width: 700px;
  border: 6px solid #26734d;
  color: #26734d;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  background: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding: 50px 0px;
}
/*  ESTILO DE LAS PANTALLAS DE GANAR Y PERDER */
#ganar{
  margin: auto;
  height: 500px;
  width: 700px;
  border: 6px solid #26734d;
  color: #26734d;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  background: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding: 50px 0px;
}
#perder{
  margin: auto;
  height: 500px;
  width: 700px;
  border: 6px solid #26734d;
  color: #26734d;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  background: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding: 50px 0px;
}


/* ESTILO DE LA VENTANA POKEDEX*/
#ventanapokedex{
  padding: 20px;
  margin-left: 100px;
  margin-top: 100px;
  background: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  color: #26734d;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  border-radius: 8px;
  border: 6px solid #26734d;

}
/*  ESTILO IMÁGENES DEL POKEDEX*/
#imgpoke{
  width: 270px;
  height: 270px;
  background-repeat: no-repeat;
  background-size:contain;
}



/*BOTONES*/
/*  ESTILO BASE DE LOS BOTONES*/

.button{
  border-radius: 8px;
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 9px #999;

}
/*   ANIMACIÓN DE LOS BOTONES*/
.button:hover {background-color: #f21c0d}
.button:active {
  background-color: #f21c0d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*  ESTILO CONCRETO DEL RESTO DE BOTONES */
#b_on{
  position: relative;
  left: 580px;
  margin: auto;

}
#b_off{
  position:relative;
  left: 580px;
  margin: auto;

}

#b_easy{
    padding: 20px 40px;
    margin-top: 100px;
}#b_medium{
    padding: 20px 40px;
    margin-top: 100px;
}#b_difficult{
    padding: 20px 40px;
    margin-top: 100px;
}

#b_p1{
    height: 100px;
    width: 100px;
    margin-top: 100px;
    border: none;
    background: url('../img/p1D.png');
    background-repeat: no-repeat;
    background-size:contain;
}
#b_p2{
    height: 100px;
    width: 100px;
    margin-top: 100px;
    border: none;
    background: url('../img/p2D.png');
    background-repeat: no-repeat;
    background-size:contain;
}
#b_p3{
  height: 100px;
  width: 100px;
    margin-top: 100px;
    border: none;
    background: url('../img/p3D.png');
    background-repeat: no-repeat;
    background-size:contain;
}
#b_p4{
    height: 100px;
    width: 100px;
    margin-top: 100px;border: none;
    background: url('../img/p4D.png');
    background-repeat: no-repeat;
    background-size:contain;
}
