* {
    padding: 0px;
    margin: 0px;
    font-family: verdana;
    /* por tener esto inicializado así de base */
}
#inicio {
  margin: auto;
  height: 500px;
  width: 700px;
  border: 6px solid #26734d;
  color: #26734d;
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
  background: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding: 50px 0px;
}
.contenedor {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

/*muestra parte de un círculo que rodea las barras horizontales del menú*/
.menu-container {
  background-color: #ffc901;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  position: absolute;
  width: 300px;
  height: 300px;
  left: -120px;
  top: -120px;
  transition: all 0.3s;
}

/*añade tres barras horizontales (icono del menú)*/
.menu {
  color: white;
  font-size: 3.5em;
  position: absolute;
  top: 160px;
  left: 160px;
  z-index: 100;
  transition: all 0.3s;
}

/*añade tres barras horizontales (icono del menú)*/
.menu i {
  opacity: 0.7;
  transform: scale(1);
  transition: all 0.3s;
}

/*detecta cuando se pincha el icono del menú (se amplía)*/
.menu i:hover {
  opacity: 1;
  transform: scale(1.2);
  transition: all 0.3s;
}

/*muestra un gradiente rosa/morado de fondo*/
body {
  background: linear-gradient(to top, #7b00e0, #ff006a);
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/*da estilo al footer*/
li {
    float: left;
    text-align: center;
}

/*da estilo al footer*/
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*Propiedad hover para que cuando pasas el ratón por cada uno de los <li> cambie de color.
Solamente cuando no es de clase active ya que esa tiene su propio color*/
/*es decir, cuando pasas el raton por footer, se pone en gris*/
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

/*estilo footer*/
.footer {
    /*Position: absolute;*/
    left: 50%;
    bottom: 0;
    width: 0%;
    background-color:purple;
    color: white;
    text-align: center;
    padding: 5px 5px;
}

/*altura dada al footer*/
header {
    height: 200px;
}

/*centra el header*/
header h1 {
    position: relative;
    top: 30px;
    left: 10px;
}

/*deja el nombre de la empresa centrado sobre el otro footer*/
.row {
    margin-top: 20px;
    margin-bottom: 20px;
    content: "";
    display: table;
    clear: both;
}

/*fondo footer (purple)*/
tr:nth-child(odd) {
    background-color: #dddd;
}

/*posición footer*/
html {
  position: relative;
  min-height: 100%;
}

/*posición footer*/
body {
  /* Margin bottom by footer height */
  margin-bottom: 300px;
}

/*posición footer*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}
/*Boton menu*!
/* Dropdown Button */
.dropbtn {
  background-color: #ffc901;
  border-radius: 100%;
  font-size: 25px;

  color: white;
  cursor: pointer;
  position: absolute;
  width: 300px;
  height: 300px;
  left: -120px;
  top: -120px;
  transition: all 0.3s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
   background-color: #ffd700;
}

/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #ffff00;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
